<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.rdc.gduthelper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.GDUTHelperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Blue">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login"/>
        <activity
            android:name=".ui.GetGradeActivity"
            android:label="@string/get_grade"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GetInformationActivity"
            android:theme="@style/AppTheme.Blue"
            android:label="@string/get_information"/>
        <activity
            android:name=".ui.PictureActivity"
            android:label="@string/information_avatar"/>
        <activity
            android:name=".ui.ChangePswActivity"
            android:label="@string/change_password"/>
        <activity
            android:name=".ui.GetExamTimeActivity"
            android:label="@string/get_exam_time"/>
        <activity android:name=".ui.AppWidgetConfig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".utils.appwidget.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_exam_time">
            </meta-data>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".utils.appwidget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>
